html, body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top-header {
	margin-bottom: 0px;
	height: 140px;
	width: 100%;
	padding: 50px 100px 50px 100px;
	background-color: #4CAF50;
}

.header-title {
	margin: 0px;
	font-size: 50px;
	font-weight: 100;
	color: #FFFFFF;
}

.header-title a {
	text-decoration: none;
	color: #FFFFFF;
}

.top-header p {
	color: #424242;
	font-size: 16px; 
	padding-left: 2px;
	margin-bottom: 20px;
}

.search-bar {
	height: 100px;
	width: 100%;
	padding: 10px 100px 0 100px;
	background-color: #4CAF50;
	margin-bottom: 20px;
}

.search-bar input {
	height: 60px;
	width: 100%;
	padding-left: 10px;
	color: #424242;
	font-size: 20px;
	border: 0;
	outline: none;
}

.container {
	padding: 0px;
}

.golfer-table th {
	color: #424242;
	font-size: 12px;
}

.golfer-table tbody > tr > td {
	padding: 20px 10px 20px 8px;
	color: #4CAF50;
	font-size: 24px;
}

.golfer-table td.updated {
	font-size: 18px;
}

.golfer-table tbody > tr > td > a {
	color: #4CAF50;;
}